.page-header {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: white;
    width: 100%;
    margin-bottom: -8px;
}

img {
    width: 400px;
    height: 150px;
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    /* min-height: 750px; */
    /* min-height: calc(100vh - 70px); */
    /* min-height: 81vh; */
    flex: 1 0 auto;
    max-width: 1620px;
}

html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
}

footer {
    z-index: -1;
    /* position: absolute; */
    /* bottom: 0;  */
    width: 100%;
    height: 60px;
    text-align: center;
    border-top: 1px;
    border-color: #F0F0F0;
    border-style: solid;
    margin-top: 20px;
    /* display: inline-block; */
    background-color: white;
    flex-shrink: 0;
}

nav a:visited {
    color: #e4c3ad; 
}

nav a:active {
    color: white;
}

nav a:hover {
    font-weight: bold;
}

.card {
    margin: 15px;
}

form {
    margin: 15px;
}

.table {
    background: white;
    margin: 0 auto;
    width: 100%;
    /* margin: 15px; */
}

.home, .menu {
    background-color: #EB6864;
}

.required {
    font-weight: bold;
}

.main-section {
    color: white;
}

noscript {
    background: black;
    color: white;
}

h5 {
    text-shadow: 2px 2px #EB6864;
    font-size: 24px;
}