.page-header {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

img {
    width: 400px;
    height: 150px;
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    z-index: -1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    border-top: 1px;
    border-color: #F0F0F0;
    border-style: solid;
    margin-top: 20px;
}

nav a:visited {
    color: #e4c3ad; 
}

nav a:active {
    font-weight: bold;
}

nav a:hover {
    background-color: #fef9ff;
    color: #5b7d87; 
}

.card {
    margin: 15px;
}

form {
    margin: 15px;
}