.page-header {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.pre-header {
    border-bottom: 1px;
    border-color: #F0F0F0;
    border-style: solid;
}

img {
    width: 400px;
    height: 150px;
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}